---
import AboutSection from '~/components/widgets/AboutSection.astro';
import Features2 from '~/components/widgets/Features2.astro';

import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <AboutSection
    actions={[
      {
        variant: 'primary',
        text: 'Get Early Access Now',
        href: '#',
        target: '_blank',
      },
    ]}
    image={{
      src: '~/assets/images/spreadsheets.png',
      alt: 'image of spreadsheet that is filled with complex and confusing data ',
    }}
  >
    <Fragment slot="title"
      >Why We Made <span class="text-accent dark:text-white highlight">You Know You</span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="block text-left">
        You Know You was born out of a personal journey filled with frustration and uncertainty. My wife and I were
        struggling with mysterious symptoms that seemed to have no clear cause. In an attempt to find answers, we
        resorted to tracking every detail—she in a large, chaotic Excel spreadsheet, and I in a paper journal and
        various apps like Notes. But none of these methods could show us how our symptoms were appearing and evolving
        over time. Instead, they only added to our frustration, making it difficult to see the full picture of our
        health.
        <br /><br />
        After spending thousands on medical bills and testing that provided no clear answers, we realized we needed a better
        way to monitor our health. We suspected it was food-related, but without clear data, it was impossible to know for
        sure. We found ourselves making multiple visits to different doctors, each of whom would tell us to try one test
        or track only one symptom, only to return and repeat the process without real progress.
        <br /><br />
        That’s why we created You Know You. Our mission is simple: to help people identify their symptoms without the need
        for excessive medical expenses. By giving users the tools to track and visualize their symptoms over time, You Know
        You doesn’t replace the expertise of doctors, but it does empower patients to better inform their healthcare providers.
        With clear, visual data, users can work more effectively with their doctors to diagnose underlying issues faster
        and more cost-effectively, reducing the need for multiple visits and extensive testing.
        <br /><br />
        Whether you’re dealing with unexplained symptoms like we were, or you’re just looking to keep a closer eye on your
        health, You Know You is designed to empower you with the insights you need to take control of your well-being.
      </span>
    </Fragment>
  </AboutSection>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="The core pillars of our teams vision and mission."
    items={[
      {
        title: 'Control',
        description:
          "You own your health and your data. We proctect your right to privacy and don't share anything about you with 3rd parties. ",
      },
      {
        title: 'Ease of Use',
        description:
          'We want to simplify health tracking not complicate it. We continuously work to improve the ability of the app without making it confusing.',
      },
      {
        title: 'Empowerment',
        description:
          'We want to always encourage our customers and our team to take action. You Know You can do it, and we do too. ',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={1}
    items={[
      {
        title: 'Chat with us',
        description: 'support@youknowyou.app',
        icon: 'tabler:messages',
      },
    ]}
  />
</Layout>
